/* stuff for dragging */

html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #128080;
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

.item {
    touch-action: none;
    user-select: none;
    position: relative;
}

.aboutMe {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/aboutMe.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/aboutMe.png?raw=true"); */
}

.blog {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/blog.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/blog.png?raw=true"); */
}

.contactMe {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/contactMe.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/contactMe.png?raw=true"); */
}

.film {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/film.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/film.png?raw=true"); */
}

.resume {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/resume.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/resume.png?raw=true"); */
}

.projects {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/projects.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/projects.png?raw=true"); */
}

.photos {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/photos.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/photos.png?raw=true"); */
}

.references {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/references.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/references.png?raw=true"); */
}

.links {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("images/links.png");
    /* background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/links.png?raw=true"); */
}

.item:active {
    opacity: .5;
}

.item:hover {
    cursor: pointer;
}