/* stuff for rows/columns */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* stuff for bottom bar */

.bottomnav {
    background-color: #C0C0C0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.bottomnav img {
    float: left;
    display: block;
    padding: 14px 16px;
}

.bottomnav a:hover {
  border-bottom: 3px solid red;
}

.bottomnav a.active {
  border-bottom: 3px solid red;
}

/* stuff for dragging */

#container {
    width: 100%;
    height: 800px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

#item {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
}

#item:active {
    background-color: rgba(168, 218, 220, 1.00);
}

#item:hover {
    cursor: pointer;
    border-width: 20px;
}