
/* stuff for bottom bar */

.bottomnav {
    border-top: solid white;
    background-color: #C0C0C0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.bottomnav img {
    width: 5%;
    height: auto;
    float: left;
    display: block;
    padding: 2px 1px;
}

.bottomnav img:active {
    opacity: 50%;
}

.bottomnav a:hover {
  border-bottom: 3px solid red;
}

.bottomnav a.active {
  border-bottom: 3px solid red;
}

/* stuff for dragging */

html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #128080;
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

.item {
    touch-action: none;
    user-select: none;
    position: relative;
}

.aboutMe {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/aboutMe.png?raw=true");
}

.blog {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/blog.png?raw=true");
}

.contactMe {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/contactMe.png?raw=true");
}

.film {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/film.png?raw=true");
}

.resume {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/resume.png?raw=true");
}

.projects {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/projects.png?raw=true");
}

.photos {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/photos.png?raw=true");
}

.references {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/references.png?raw=true");
}

.links {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/links.png?raw=true");
}

.item:active {
    opacity: .5;
}

.item:hover {
    cursor: pointer;
}

/* stuff for modals */

.modal {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutMe-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.blog-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.contactMe-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.film-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.resume-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.projects-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.photos-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.references-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.links-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.aboutMeClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.blogClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.contactMeClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.filmClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.resumeClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.projectsClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.photosClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.referencesClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.linksClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.aboutMeClose:hover,
.aboutMeClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blogClose:hover,
.blogClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contactMeClose:hover,
.contactMeClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.filmClose:hover,
.filmClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.resumeClose:hover,
.resumeClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.projectsClose:hover,
.projectsClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photosClose:hover,
.photosClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.referencesClose:hover,
.referencesClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.linksClose:hover,
.linksClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}