
/* stuff for bottom bar */

.bottomnav {
    background-color: #C0C0C0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.bottomnav img {
    float: left;
    display: block;
    padding: 14px 16px;
}

.bottomnav img:active {
    opacity: 50%;
}

.bottomnav a:hover {
  border-bottom: 3px solid red;
}

.bottomnav a.active {
  border-bottom: 3px solid red;
}

/* stuff for dragging */

html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #128080;
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

.item {
    touch-action: none;
    user-select: none;
    position: relative;
}

.aboutMe {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/aboutMe.png?raw=true");
}

.blog {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/blog.png?raw=true");
}

.contactMe {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/contactMe.png?raw=true");
}

.film {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/film.png?raw=true");
}

.resume {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/resume.png?raw=true");
}

.projects {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/projects.png?raw=true");
}

.photos {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/photos.png?raw=true");
}

.references {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/references.png?raw=true");
}

.links {
    width: 75px;
    height: 75px;
    background-image: url("https://github.com/jordanknox917/jordanknox917.github.io/blob/master/images/links.png?raw=true");
}

.item:active {
    opacity: .5;
}

.item:hover {
    cursor: pointer;
}

/* stuff for overlays */